
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="https://golang.org/doc/gopher/frontpage.png">

        <title>OpenShift Gochat Client</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- Custom styles for this template -->
        <link href="signin.css" rel="stylesheet">
    </head>

    <body>
        <div class="card text-center mx-auto mw-50 w-50">
            <img class="card-img-top w-25 mx-auto" src="https://raw.githubusercontent.com/kevensen/openshift-gochat-client/master/templates/gochat.png">
            <div class="card-block">
                    <h4 class="card-title">Welcome to OpenShift Gochat</h4>
                    <form class="form-signin" action="/auth/login/openshift" method="post" id="loginform" role="form">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Login Using OpenShift Credentials</button>
                    </form>
            </div>
        </div>
    </body>
</html>
